<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Ducknote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Connexion</ion-card-title>
  </ion-card-header>

  <ion-card-content class="ion-text-center">
    Bienvenue sur DuckNote : <br />
    Le pense-bête qu'il vous faut !
  </ion-card-content>
</ion-card>

  <!-- <ion-button expand="block" routerLink="/home" routerDirection="root" color="warning">
    Se connecter
  </ion-button> -->

  <ion-button expand="block" color="warning" (click)="login()">
    Se connecter
  </ion-button>

</ion-content>