<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">

    <ion-row>
      <ion-col>
        <img src="assets/author.jpg"/>
      </ion-col>
    </ion-row><!-- Ligne 1-->

    <ion-row>
      <ion-col>
        Charles E.
      </ion-col>
      <ion-col>
        Développeur Web et Mobile
      </ion-col>
    </ion-row><!-- Ligne 2-->

    <ion-row>
      <ion-col>
        Intérêt pour la finance, la blockchain, les technologies mobiles et le O'tacos
      </ion-col>
    </ion-row><!-- Ligne 3-->

  </ion-grid>
</ion-content>